/* styles.css */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #012;
  color: #4cb5f5;
  font-family: Arial, sans-serif;
}

canvas {
  border: 2px solid #fff;
  background-color: #598234;
}